body {
	background: #000;
	color: #fff;
	padding: 0;
	margin: 0;
	font-weight: bold;
	overflow: hidden;
}

span {
	color: #ffaa55;
}
#info {
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	text-align: center;
	z-index: 1000;
}
#canvas2D {
	background-color: transparent;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

#canvas3D {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

#controls {
	position: absolute;
	bottom: 0;
	width : 100%;
	height : 300px;
	background-color: #270000;
	z-index: 10;
}

#turn_wheel {
	position: absolute;
	bottom: 25px;
	left : 30px;
	width : 150px;
	height : 150px;
	z-index: 11;
}

#popup {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 auto;
	background-color: rgba(0,0,0,.8);
	-moz-border-radius: 15px;
	border-radius: 15px;
	z-index: 3;
}

a:link { color: #aac; text-decoration: none}
a:hover {text-decoration: underline; color: #88a;}
a:visited {color: #8af}

#chat{
	width: 300px;
	margin: 30px auto;
	position: relative;
}

#chat-wrap {

	border: 1px solid #445; 
	margin: 0 0 15px 0;
}
#chat-area {
	height: 150px;
	background-color: #181818;
	overflow: auto;
	border: 1px solid #345;
	padding: 0px;

}
span {
	font: 12px "Helvetica", Sans-Serif;
	color: #ccc;	
	font-weight:bold;
	background: #7400bd;
	padding: 4px 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 8px;
	margin: 0 5px 0 0;
}

#chat-area span.ally {
	color: #fff;
	background:#3ca900; /*#3ca900;*/
}

#chat-area span.global {
	color: #fff;
	background:#3ca900; /*#3ca900;*/
}



#chat-area p {
	padding: 3px;
	border-bottom: 1px solid #222; 
	border-top: 0px solid #222; }

#name-area {
	position: absolute;
	top: 12px;
	right: 0;
	color: white;
	font: bold 12px "Helvetica", Sans-Serif;
	text-align: right;
}
#name-area span {
	color: #fa9f00;
}

#send-message-area p {
	float: left;
	color: white;
	padding-top: 0px;
	font-size: 14px;
}
#composer {
	color: #ccc;
	background-color: #181818;
	border: 2px #0091a6; 
	width: 300px;
	padding: 0px;
	font: 14px "Helvetica", Sans-Serif;
	float: right;
 resize: none;
}
#composer:focus { border: 10px #66dff1; }

