a.adminLink:link, a.adminLink:visited {
	text-decoration: none;
	padding: 1px 0;
	margin: 1px 0;
	border-bottom: 1px dotted #006;
	color: #009
}
a.adminLink:hover {
	text-decoration: none;
	border-bottom: 1px solid #006
}
#admin a {
	outline: none
}
.adminLink img, #admin img {
	border: 0
}
#admin .table-b-bord {
	border: 1px solid #999
}
#admin .boldlink, #admin .boldlink a:link, #admin .boldlink a:visited {
	color: #000;
	text-decoration: none;
	font: 700 11px "Trebuchet MS", Arial, Helvetica, sans-serif
}
#admin .boldlink a:hover {
	color: #F00;
	text-decoration: none
}
#admin .quickTip {
	width: 420px;
	border-top: 1px solid #F90;
	border-bottom: 1px solid #F90;
	background: #FFC;
	padding: 7px;
	margin: 5px 0;
	text-align: center;
	color: #000
}
#admin .quickTip a:link, #admin .quickTip a:visited {
	color: #000;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px dotted #000
}
#admin .quickTip a:hover {
	border-bottom: 1px solid #000
}
#admin .tree {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000
}
#admin .tree IMG {
	BORDER-TOP-WIDTH: 0;
	BORDER-LEFT-WIDTH: 0;
	BORDER-BOTTOM-WIDTH: 0;
	VERTICAL-ALIGN: text-bottom;
	BORDER-RIGHT-WIDTH: 0
}
#admin .style-no-under a:visited, #admin .style-no-under a:link {
	text-decoration: none
}
#admin .style-no-under a:hover {
	text-decoration: underline;
	color: #F00
}
#admin .tree a:hover {
	text-decoration: underline
}
#admin A.helpLink {
	CURSOR: help;
	COLOR: green;
	BORDER-BOTTOM: green 1px dashed;
	TEXT-DECORATION: none
}
#admin A.helpLink:hover {
	COLOR: red;
	BORDER-BOTTOM: red 1px dashed;
	TEXT-DECORATION: none
}
#admin .help-tooltip {
	BORDER-RIGHT: windowframe 1px solid;
	PADDING-RIGHT: 3px;
	BORDER-TOP: windowframe 1px solid;
	PADDING-LEFT: 3px;
	Z-INDEX: 10000;
	BACKGROUND: infobackground;
	PADDING-BOTTOM: 3px;
	FONT: Status-Bar;
	BORDER-LEFT: windowframe 1px solid;
	WIDTH: 250px;
	COLOR: infotext;
	PADDING-TOP: 3px;
	BORDER-BOTTOM: windowframe 1px solid;
	POSITION: absolute
}
#admin .help-tooltip A:hover, #admin .help-tooltip A {
	BACKGROUND: none transparent scroll repeat 0 0;
	COLOR: blue ! important
}
#admin .moduleheader {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	background-repeat: repeat-x;
	background-image: url(editor_images/moduleheader.gif);
	padding-top: 11px;
	padding-bottom: 11px
}
#admin .moduleframe {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #7FB2D9;
	background-repeat: repeat;
	background-color: #F7F7F7
}
#admin .topbar1bg {
	background-color: #F7FFEF;
	background-repeat: repeat-x
}
#admin .topbar2bg {
	background-color: #EAFFD5
}
#admin .modulesubframe {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #7FB2D9;
	background-repeat: repeat;
	background-color: #FFF
}
#admin .moduleleftframe {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #218200;
	background-repeat: repeat;
	background-color: #F7F7F7
}
#admin .modulesubheader {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	padding-top: 11px;
	padding-bottom: 11px;
	height: 40px;
	padding-left: 11px;
	border-bottom: 1px solid #999
}
#admin .modulesub2header {
	background-color: #F9F9F9;
	border: 1px solid #FC0
}
#admin input {
	border: 1px solid #000;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #F5F5F5;
	height: 22px
}
#admin select {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #F5F5F5;
	border: 1px solid #000;
	padding: 2px;
	height: 22px
}
#admin .subbuttom {
	color: #FFF;
	background-color: transparent;
	background-repeat: repeat-x;
	border: 0 solid;
	display: block;
	font: 700 11px Tahoma, Arial, Helvetica, sans-serif
}
#admin .bottomline {
	border-bottom: 1px solid #CCC
}
#admin .topmenu a:visited, #admin .topmenu a:link, #admin .tree a:visited, #admin .tree a:link {
	color: #000;
	text-decoration: none
}
#admin .topmenu a:hover {
	color: #000;
	text-decoration: underline
}
#admin .nawigacjatopbott {
	border-right-color: #006DC5;
	border-left-color: #006DC5;
	border-bottom: 1px solid #006DC5;
	border-top: 1px solid #006DC5
}
#admin .topline {
	border-bottom: 1px solid #999;
	border-top: 1px solid #FFF
}
#admin .przesun {
	border-left: 1px solid #006DC5
}
#admin .leftbar {
	color: #FFF;
	padding-left: 10px;
	padding-bottom: 5px;
	font: 700 11px Tahoma, Arial, Helvetica, sans-serif
}
#admin .middtop {
	background-image: url(editor_images/admin_08.gif);
	background-repeat: no-repeat;
	background-position: left top
}
#admin .middmid {
	background-image: url(editor_images/admin_13.gif);
	background-repeat: repeat-y;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 40px;
	padding-right: 20px
}
#admin .tree#ffffff {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 10px;
	color: #FFF
}
#admin .tree#ffffff a:visited, #admin .tree#ffffff a:link, #admin .modulesubheader a:visited, #admin .modulesubheader a:link {
	color: #FFF;
	text-decoration: none
}
#admin .tree#ffffff a:hover, #admin .modulesubheader a:hover {
	color: #FFF;
	text-decoration: underline
}
#admin .middletop {
	border-top: 1px solid #CCC
}
#admin .topmenu {
	color: #000;
	background-image: url(editor_images/admin_03.jpg);
	background-repeat: no-repeat;
	padding-right: 5px;
	padding-left: 0;
	font: 700 11px Arial, Helvetica, sans-serif
}
#admin .menuleft {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image: url(editor_images/admin_12.jpg);
	background-repeat: no-repeat
}
#admin .middle {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image: url(editor_images/admin_14.jpg);
	background-repeat: repeat-x;
	padding: 0;
	border-left: 1px solid #CCC
}
#admin .middle2 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image: url(editor_images/admin_13.jpg);
	background-repeat: no-repeat
}
#admin .modulesubframe2 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image: url(editor_images/admin_13.jpg);
	background-repeat: no-repeat;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC
}
#admin .middle3 {
	background-image: url(editor_images/admin_18.jpg);
	background-repeat: repeat-y
}
#admin td, #admin .style-no-under, #admin .style {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px
}
#admin .fheader {
	font: 700 18px Georgia, "Times New Roman", Times, serif;
	letter-spacing: -1px;
	color: #000;
	margin-bottom: 15px;
	background-image: url(editor_images/bg-title.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	padding: 10px 10px 10px 15px;
	border-bottom: 1px solid #000
}
.fheader a, .fheader a:hover {
	color: #000;
	text-decoration: none;
	border-bottom: 1px #000 dotted;
	padding-bottom: 2px
}
.fheader a:hover {
	border-bottom-color: #F00
}
.fheader img {
	margin-right: 10px
}
.fnorm, .fnorm img, .fnorm a, .fnorm a:hover {
	letter-spacing: normal;
	margin: 0;
	border: 0
}
.toplink, .toplink a {
	font: 400 12px "Courier New", Courier, mono;
	letter-spacing: normal;
	color: #00f
}
#admin .treetable {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	background-color: #FFF;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #858C9C;
	border-top: 1px solid #858C9C;
	border-right: 1px solid #858C9C
}
#admin .dropmenudiv {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	position: absolute;
	top: 0;
	border: 1px solid #666;
	color: black;
	line-height: 20px;
	z-index: 1000;
	background-color: #fff;
	width: 170px;
	visibility: hidden;
	text-decoration: none;
	filter: progid;
	padding: 1px 1px 2px
}
#admin .dropmenudiv a:link, #admin .dropmenudiv a:visited {
	width: 166px;
	display: block;
	text-indent: 3px;
	border: 1px solid #FFF;
	border-bottom-width: 0;
	text-decoration: none;
	font-weight: 700;
	color: black;
	background-color: #F0F0F0;
	padding: 2px 0 2px 2px
}
#admin .dropmenudiv a:hover {
	background-color: #BFCBDD;
	color: black;
	text-decoration: none
}
* html .dropmenudiv a {
	width: 100%
}
#admin .ccode {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	color: #000
}
#admin .mlink, #admin .mlink a:link, #admin .mlink a:visited, #admin .mlink a:hover {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999;
	padding-top: 87px;
	text-decoration: none;
	border-bottom: 1px solid #CCC
}
#admin div #MO {
	border-top: 5px solid #CCC
}
#SearchResultHeader {
	display: block;
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 5px;
	margin-bottom: 25px;
	border-bottom: 1px solid #000
}
.galCommTitle {
	color: #999;
	margin-bottom: 1px;
	padding-bottom: 1px;
	border-bottom: 1px solid #CCC
}
#contact_name, #contact_email, #contact_phone, #contact_fax, #contact_website, #department, #contact_subject {
	width: 200px
}
#contact_message {
	width: 300px;
	height: 150px
}
.contactIncorrect {
	background-color: #FFC;
	border: 1px solid #FC0
}
#ct9c td {
	font-weight: 700;
	color: #F00;
	padding: 10px
}
#aMessage {
	background-color: #FFC;
	padding: 10px;
	margin-bottom: 25px;
	margin-top: 1px;
	border: 1px solid #F90;
	font: 700 14px "Trebuchet MS", Arial, Helvetica, sans-serif
}
#messageRound {
	background-image: url(editor_images/messageBack.png);
	background-repeat: repeat-x;
	border: 1px solid #F60;
	margin-bottom: 20px;
	cursor: pointer
}
div#kMessage {
	letter-spacing: -1px;
	color: #000;
	border: 3px solid #FF0;
	vertical-align: middle;
	padding-left: 20px;
	font: 700 22px "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 72px;
	height: 72px
}
#admin #ListTable {
	width: 550px;
	border-collapse: collapse;
	border: 1px solid #000
}
#admin #ListTableTdAction a:link, #admin #ListTableTdAction a:visited {
	background-color: #F5F5F5;
	display: block;
	float: left;
	padding: 3px;
	text-decoration: none;
	border: 1px solid #CCC;
	margin-right: 1px
}
#admin #ListTable a:hover {
	border-bottom: 1px dotted #000
}
#admin #ListTableHeaderTd {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 700;
	background-color: #FFC;
	padding: 5px;
	border: 1px solid #F90
}
#admin #ListTableListTd, #admin #ListTableTdAction {
	border-collapse: collapse;
	border: 1px solid #ccc
}
#admin #warningMessage {
	background-color: #F00;
	padding: 10px;
	margin: 0;
	margin-top: 1px;
	border: 1px solid #000;
	color: #FFF;
	text-align: center;
	font: 700 14px "Trebuchet MS", Arial, Helvetica, sans-serif
}
.clear {
	overflow: hidden;
	width: 100%
}
#admin a.bbutton {
	background: url('editor_images/bg_button_a.gif') no-repeat scroll top right;
	text-decoration: none;
	font-weight: 700;
	color: #fff;
	display: block;
	float: left;
	height: 28px;
	margin-right: 6px;
	padding-right: 18px
}
#admin a.bbutton span {
	background: url('editor_images/bg_button_span.gif') no-repeat;
	display: block;
	line-height: 18px;
	padding: 5px 0 5px 18px
}
#admin a.bbutton:hover {
	background-position: bottom right;
	color: #fff
}
#admin a.bbutton:hover span {
	background-position: bottom left
}
.trHighlight {
	background-color: #FFC;
	font-weight: 700
}
#ModuleAdminMenu span {
	display: block;
	background-image: url(editor_images/admin_14.jpg);
	background-repeat: repeat-x;
	background-position: top;
	height: 30px;
	line-height: 20px;
	padding-top: 3px;
	padding-left: 3px;
	margin: -10px;
	margin-left: -13px
}
#ModuleAdminMenu a:link, #ModuleAdminMenu a:visited, #ModuleAdminMenu div {
	display: block;
	float: left;
	border: 1px solid #000;
	padding: 5px;
	margin-right: 1px;
	background-image: url(editor_images/admin_01.jpg);
	background-repeat: repeat-x;
	text-decoration: none;
	color: #000
}
#ModuleAdminMenu a:hover {
	background-image: url(editor_images/admin_06.jpg);
	background-repeat: repeat-x;
	text-decoration: none;
	color: #FFF
}
.ModuleAdminForm fieldset {
	margin: 10px 10px 0 0;
	background: #FFF;
	border: 1px solid #999;
	padding: 5px
}
.ModuleAdminForm legend {
	color: #000;
	border: 1px solid #999;
	background: #D7D7D7;
	padding: 5px;
	margin-bottom: 3px;
	font-weight: 700
}
#commentItemSubmit {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid gray
}
#commentItemSubmit span {
	display: block;
	margin: 5px 0
}
.commentItemCheck {
	float: left;
	margin-bottom: 15px
}
.commentItem input {
	width: 220px
}
.commentItem textarea {
	width: 300px;
	height: 80px;
	overflow: auto
}
#commentItemCaptcha {
	width: 155px
}
#commentItemCaptcha.commentItemCaptchaAudio {
	width: 135px
}
.commentCaption {
	padding: 3px;
	padding-top: 8px;
	width: 250px
}
#commentItem {
	display: block;
	float: none
}
#commentItemDiv {
	background-color: #CCC;
	padding: 10px;
	margin: 5px 0;
	color: #000
}
#commentListItem {
	background-color: #FFF;
	background-image: url(editor_images/admin_14.jpg);
	background-repeat: repeat-x;
	background-position: top;
	border: 1px solid #CCC;
	margin-bottom: 5px;
	color: #000
}
#commentListItem span {
	display: block;
	background-image: url(editor_images/CommentQuote.gif);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	padding: 15px;
	padding-left: 45px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #FFF;
	border-right: 1px solid #999
}
#commentListWroteItem {
	margin-bottom: 5px;
	font-size: 14px
}
#commentListWroteItem a:link, #commentListWroteItem a:visited, #commentItemDiv a, #admin .mlink a:hover {
	color: #000
}
#commentListCommentItem {
	font-weight: 700
}
#commentListDateItem {
	margin-top: 5px
}
#commentMessage {
	background-color: #FFC;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #F90;
	color: #000
}
#commentMessage a:link, #commentMessage a:visited {
	display: block;
	padding-top: 5px;
	margin-top: 5px;
	text-decoration: none;
	color: #F90;
	font-weight: 700;
	font-size: 11px;
	border-top: dotted 1px #F90
}
#commentMessage a:hover {
	color: #F00
}
#commentListAdminMenu {
	display: inline;
	position: relative;
	left: -45;
	top: 10;
	background-color: #CCC
}
#commentListNoItem {
	padding: 10px;
	text-align: center;
	font-size: 14px
}
#commentListAdminMenu #commentListAdminMenuItem, #commentListAdminMenu a:link, #commentListAdminMenu a:visited {
	display: inline;
	padding: 3px;
	border: 1px solid #000;
	text-decoration: none;
	color: #000;
	background-image: url(editor_images/admin_01.jpg);
	background-repeat: repeat-x;
	margin-right: 1px
}
#commentListAdminMenu a:hover {
	text-decoration: none;
	color: #FFF;
	background-image: url(editor_images/admin_06.png);
	background-repeat: repeat-x
}
#pageFooterBar {
	margin-top: 30px;
	padding: 3px;
	text-align: right;
	border-top: 1px solid #CCC
}
ul#GalleryList {
	margin: 0;
	padding: 0
}
#GalleryList li {
	list-style: none;
	display: block
}
#GalleryList span.gli1 {
	width: 200px;
	display: block;
	float: left;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #000;
	font: 700 17px "Trebuchet MS", Arial, Helvetica, sans-serif
}
#GalleryList span.gli2 {
	padding-left: 10px;
	display: block
}
#admin #quickTip {
	background-color: #FFC;
	border-top: solid 1px #F90;
	border-bottom: solid 1px #F90;
	padding: 5px
}
#admin #SelectMenu {
	height: 1.35em;
	position: relative
}
#admin #SelectMenu p {
	margin: 0
}
#admin #SelectMenu ul {
	position: absolute;
	z-index: 2;
	width: 156px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 1px solid #32528c;
	line-height: 1.35em
}
#admin #SelectMenu a {
	display: block;
	width: 150px;
	color: #000;
	text-decoration: none;
	padding: 3px;
	background: #eff3fb url(editor_images/down.gif) 140px center no-repeat
}
#admin #SelectMenu a:hover {
	background-color: #f8fafd
}
#admin #SelectMenu ul ul {
	position: static;
	display: none;
	border-width: 1px 0 0
}
#admin #SelectMenuList a {
	background: #fff none
}
#admin #SelectMenuList a:hover {
	color: #fff;
	background-color: #4986d9
}
#leftMenu {
	margin-left: 5px
}
#menuListHeader {
	background: url(editor_images/tree/base.gif) no-repeat 0 0;
	padding-left: 22px;
	line-height: 16px;
	padding-bottom: 3px;
	margin-right: 5px;
	border-bottom: 1px solid #CCC
}
#menuListHeader a {
	display: block;
	font-weight: 700
}
#leftMenu ul li {
	background: url(editor_images/tree/join.gif) no-repeat 0 0
}
ul#leftMenuTree {
	margin: 10px 0 0;
	list-style-type: none;
	background: url(editor_images/tree/line.gif) repeat-y 0 0;
	padding: 0
}
ul#leftMenuTree li {
	margin-bottom: 2px
}
ul#leftMenuTree li a {
	background: url(editor_images/tree/page.gif) no-repeat 20px 0;
	padding-left: 40px;
	display: block;
	line-height: 16px;
	border-right: 3px solid #fff
}
ul#leftMenuTree li a:hover {
	border-right: 3px solid #CCC
}
ul#leftMenuTree li.listAddItem a {
	background: url(editor_images/tree/page_plus.gif) no-repeat 20px 0
}
ul#leftMenuTree li a.open, ul#leftMenuTree li li a.open, ul#leftMenuTree li li li a.open, ul#leftMenuTree li li li li a.open {
	background-image: url(editor_images/tree/page.gif)
}
ul#leftMenuTree ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-image: url(editor_images/tree/line.gif) repeat-y 18px
}
ul#leftMenuTree li li {
	background: url(editor_images/tree/join.gif) no-repeat 18px 0
}
ul#leftMenuTree li li a {
	padding: 0 0 0 60px;
	display: block;
	line-height: 16px;
	background: url(editor_images/tree/page.gif) no-repeat 40px 0
}
.farbtastic {
	position: relative
}
.farbtastic * {
	position: absolute;
	cursor: crosshair
}
.farbtastic, .farbtastic .wheel {
	width: 195px;
	height: 195px
}
.farbtastic .color, .farbtastic .overlay {
	top: 47px;
	left: 47px;
	width: 101px;
	height: 101px
}
.farbtastic .wheel {
	background: url(editor_images/wheel.png) no-repeat;
	width: 195px;
	height: 195px
}
.farbtastic .overlay {
	background: url(editor_images/mask.png) no-repeat
}
.farbtastic .marker {
	width: 17px;
	height: 17px;
	margin: -8px 0 0 -8px;
	overflow: hidden;
	background: url(editor_images/marker.png) no-repeat
}
.colorwell {
	border: 2px solid #fff;
	width: 6em;
	text-align: center;
	cursor: pointer
}
body .colorwell-selected {
	border: 2px solid #000;
	font-weight: 700
}
.o2k7Skin span.custPaste {
	background-position: -880px 0
}
button.SystemButton {
	text-align: center;
	background: url(editor_images/brt.gif) no-repeat right;
	border: 0;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: auto;
}
button.SystemButton span {
	position: relative;
	display: block;
	white-space: nowrap;
	height: 28px;
	color: #fff;
	font: 700 11px/26px Tahoma, Arial, Helvetica, sans-serif;
	background: url(editor_images/blt.gif) no-repeat left top;
	padding: 0 10px
}
button.SystemButton:hover {
	background: url(editor_images/brb.gif) no-repeat right
}
button.SystemButton:hover span {
	background: url(editor_images/blb.gif) no-repeat left top;
}
button.SystemButton:active span {
	text-decoration: underline;
}
#buttonFrame {
	background: #FFC;
	padding: 1px 2px;
	border: 1px solid #F90;
	float: right
}
#addModuleTip img {
	border: none;
	margin-right: 3px;
	vertical-align: middle
}
#addModuleTip {
	padding: 5px;
	display: inline;
	position: absolute;
	right: 0;
	margin: 5px;
	font-size: 13px
}
#addModuleTip a {
	color: #009
}
#pageHeaderBar {
	border-bottom: 1px solid #CCC;
	margin-bottom: 30px;
	padding: 3px;
	text-align: left
}
#admin .padleft {
	padding-left: 10px
}
.cI {
	margin-right: 4px
}
ul.rss_feed {
	margin: 0;
	padding: 0 0 10px;
	list-style: none
}
a.aswitch, a.aswitch:hover {
	position: absolute;
	left: 177px;
	z-index: 99;
	height: 33px;
	line-height: 33px;
	background: #fff url(editor_images/admin_switch.jpg) right top no-repeat;
	width: 20px;
	text-decoration: none;
	outline: none
}
.aswitch span {
	text-align: right;
	position: absolute;
	z-index: 10;
	background: url(editor_images/admin_switch.jpg) right bottom no-repeat;
	width: 197px;
	left: -177px;
	text-decoration: none;
	display: none
}
.aswitch span strong {
	padding-right: 15px;
	color: #51B3CC
}
.formLeftTd {
	width: 100px;
}
.notWritable {
	background: #fff url(editor_images/moduleheader.gif) center repeat-x;
	width: 600px;
	margin: 10 auto;
	border: 2px solid #41465A;
}
.notWritable a {
	padding: 10px;
	margin-right: 10px;
	background: url(editor_images/close.gif) right center no-repeat;
	display: block;
	color: #fff;
	text-decoration: none;
}
.notWritable a span {
	display: block;
	color: #41465A;
	font-size: smaller
}
.ContactForm label {
	display: block;
	clear: both;
	margin: 10px 0 3px
}