
body {
	background: #000;
	color: #fff;
	padding: 0;
	margin: 0;
	font-weight: bold;
	overflow: hidden;
}

a {
	color: #ffffff;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	text-align: center;
	z-index: 5;
}

#oldie {
	background: rgb(200,100,0) !important;
	color: #fff;
}

#vt {
	display: none
}
#vt, #vt a {
	color: orange;
}
.code {
}

#logo {
	position: relative;
	top: 0px;
	text-align: center;
	/*	left: 36%;
	 /*				margin-left: -70px;*/
	/*	margin-left: auto;
	 margin-right: auto;*/
	z-index: 5;
}

#main {

	top: 0px;
	width: 420px;
	height: 240px;
	margin-top: 120px;
	background-color: #000;
	background-color: rgba(0,0,0,0.5);
	font-family: Georgia;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 4;
}

#login_title {
	position: absolute;
	top: 20px;
	left: 40%;
	font-size: 22px;
}

#form {
	position: absolute;
	margin-top: 40px;
	left: 10%;
	width: 80%;
}
#version {
	font-family: sans;
	position: relative;
	bottom: 20px;
	color: #c2d8ea;
	left: 180px;
	text-align: center;
	z-index: 5;
}
#lower_left_options {
	position: absolute;
	bottom: 20px;
	left: 10%;
	z-index: 5;
}
#copyright {
	position: absolute;
	bottom: 20px;
	text-align: right;
	left: 80%;
	z-index: 5;
}
.field {
	text-transform: uppercase;
	font-family: Georgia;
	color: #333;
	width: 100%;
	height: 20px;
	font-size: 20px;
	text-align: center
}
#container {
	position: absolute;
	top: 0px;
	z-index: 1;
}