body {
	
	font-family: Monospace;
	margin: 0px;
	background-color: #000000;
	overflow: hidden;
}

#info {
	color: #87ceeb;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
}

a {
	color:#002EBE;
	/*color: #87ceeb*/
}
