.team.icon.red {
  background-image: url(/rsc/images/flags/128/red.jpg);
}
.team.icon.blue {
  background-image: url(/rsc/images/flags/128/blue.jpg);
}
.team.icon.yellow {
  background-image: url(/rsc/images/flags/128/yellow.jpg);
}

.team.name.red:after {
  content: "Red";
}
.team.name.blue:after {
  content: "Blue";
}
.team.name.yellow:after {
  content: "Yellow";
}

/* 'primary' colors */
.team.colored.red {
  background-color: #ff0000;
}
.team.colored.blue {
  background-color: #f1592a;
}
.team.colored.yellow {
  background-color: #ffc010;
}

/* 'secondary' colors */
.team.text-colored.red {
  background-color: #7e0a0b;
}
.team.text-colored.blue {
  background-color: #d73520;
}
.team.text-colored.yellow {
  background-color: #f5a11a;
}

