#game-window {
  background: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight: bold;
  overflow: hidden;
}

span {
  color: #ffaa55;
}
nav {
  height: 48px;
  border-bottom: 2px solid #000;
  background-color: #0f0f0f;
  position: absolute;
  z-index: 4;
  width: 100%;
}
nav > img {
  height: 40px;
  margin-top: 4px;
  margin-left: 5px;
}
nav > a {
  float: right;
  padding: 15px;
  margin-top: 2px;
  position: relative;
}

nav a ul {
  display: none;
  position: absolute;
  text-align: right;
  padding: 0;
  z-index: 11;
  right: 0;
}
nav > a:hover {
  background-color: #222;
}
nav a:hover ul {
  display: block;
  background-color: #222;
  margin-top: 15px;
  width: 150px;
}
nav a ul li {
  padding: 10px 10px;
  border-bottom: 1px solid #333;
}

nav a ul li:hover {
  background-color: #282828;
}
#panel-wheel {
  padding: 10px;
}
#panel-wheel div {
  height: 3px;
  float: left;
}

#control-panel {
  position: absolute;
  right: 0;
  width: 260px;
  background: #111;
  height: 100%;
  padding: 70px 20px;
  z-index: 3;
  overflow: hidden;
}
#info {
  position: absolute;
  bottom: 90px;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  text-align: center;
  z-index: 1000;
  right: -8px;
}
#messages {
  padding: 10px;
  width: 90%;
  height: 200px;
  background: #0a0a0a;
  border-radius: 10px;
  font-family: sans, arial;
  overflow-y: scroll;
  margin: 0;
}
#messages > li {
  text-align: left;
}

#msgs-global {
  padding: 0px;
  height: 28px;
  background-color: #181818;
  color: #eee;
  margin-top: 6px;
  width: 230px;
  font-size: 16px;
  font-family: sans, arial;
  border: none;
  padding: 0 10px;
  border-radius: 10px;
}

.centered-window {
  margin: 0 auto;
  width: 100%;
  z-index: 3;
  position: absolute;
}
.centered-window > .container {
  margin: 60px auto;
  width: 400px;
  padding: 40px;
  border: 1px solid rgba(255,255,255,.88);
  border-radius: 4px;
  background: rgba(0,0,0,.8);
}
.centered-window > .container > h1 {
  color: white;
  font-size: 21px;
  position: relative;
  border: none;
  padding-bottom: 20px;
}

.centered-window > .button-set {
  float: right;
}
#waiting-on-list {
  width: 100%;
}
#new-stage-intro > div {
  position: relative;
  text-align: center;
}
#new-stage-intro > .container {
  height: 20px;
  padding: 30px;
  letter-spacing: .4em;
}
#attack-panel {

}
#attack-panel > .button-set {
  margin: 40px 0 0 200px;
}
#attack-slider {
  height: 20px;
  position: relative;
  width: 300px;
  margin: 20px;
}

#attack-slider > #attack-slider-inner-line {
  background-color: rgba(200,200,255,.2);
  width: 100%;
}

#attack-slider > div {
  height: 2px;
  left: 10px;
  margin-top: 11px;
  position: absolute;
  background-color: rgba(255,96,64,.7);
}

/* styles for chevron slider */
#attack-slider > span {
  width: 20px;
  position: absolute;
  padding: 0px;
  margin-bottom: 6px;
  height: 20px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(-90deg);
}

@-webkit-keyframes ShiftingBackground {
0%{background-position:0% 51%}
100%{background-position:100% 50%}
}
@-moz-keyframes ShiftingBackground {
0%{background-position:0% 51%}
50%{background-position:100% 50%}
100%{background-position:0% 51%}
}
@keyframes ShiftingBackground {
0%{background-position:0% 51%}
100%{background-position:100% 50%}
}

#attack-slider > span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background-color: #1176b0;
  border: solid 2px black;
  border-right: none;
  -webkit-transform: skew(0deg, 45deg) translate(-4px,4px);
  -moz-transform: skew(0deg, 45deg) translate(-4px,4px);
  -ms-transform: skew(0deg, 45deg) translate(-4px,4px);
  -o-transform: skew(0deg, 45deg) translate(-4px,4px);
  transform: skew(0deg, 45deg) translate(-4px,4px);
  /****/
  background: rgb(232,46,46); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(232,46,46,1) 21%, rgba(232,46,46,1) 21%, rgba(232,46,46,1) 44%, rgba(232,46,46,1) 44%, rgba(255,211,211,1) 51%, rgba(226,45,45,1) 57%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(21%,rgba(232,46,46,1)), color-stop(21%,rgba(232,46,46,1)), color-stop(44%,rgba(232,46,46,1)), color-stop(44%,rgba(232,46,46,1)), color-stop(51%,rgba(255,211,211,1)), color-stop(57%,rgba(226,45,45,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, rgba(232,46,46,1) 21%,rgba(232,46,46,1) 21%,rgba(232,46,46,1) 44%,rgba(232,46,46,1) 44%,rgba(255,211,211,1) 51%,rgba(226,45,45,1) 57%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, rgba(232,46,46,1) 21%,rgba(232,46,46,1) 21%,rgba(232,46,46,1) 44%,rgba(232,46,46,1) 44%,rgba(255,211,211,1) 51%,rgba(226,45,45,1) 57%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(232,46,46,1) 21%,rgba(232,46,46,1) 21%,rgba(232,46,46,1) 44%,rgba(232,46,46,1) 44%,rgba(255,211,211,1) 51%,rgba(226,45,45,1) 57%); /* IE10+ */
  background-size: 1200% 1200%;
  -webkit-animation: ShiftingBackground 1s ease infinite;
  -moz-animation: ShiftingBackground 1s ease infinite;
  animation: ShiftingBackground 1s ease infinite;
}

#attack-slider > span:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #24a5ef;
  border: solid 2px black;
  border-left: none;
  -webkit-transform: skew(0deg, -45deg);
  -moz-transform: skew(0deg, -45deg);
  -ms-transform: skew(0deg, -45deg);
  -o-transform: skew(0deg, -45deg);
  transform: skew(0deg, -45deg);
  /****/
  background: rgb(232,46,46); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(232,46,46,1) 21%, rgba(232,46,46,1) 21%, rgba(232,46,46,1) 44%, rgba(232,46,46,1) 44%, rgba(255,211,211,1) 51%, rgba(226,45,45,1) 57%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(21%,rgba(232,46,46,1)), color-stop(21%,rgba(232,46,46,1)), color-stop(44%,rgba(232,46,46,1)), color-stop(44%,rgba(232,46,46,1)), color-stop(51%,rgba(255,211,211,1)), color-stop(57%,rgba(226,45,45,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, rgba(232,46,46,1) 21%,rgba(232,46,46,1) 21%,rgba(232,46,46,1) 44%,rgba(232,46,46,1) 44%,rgba(255,211,211,1) 51%,rgba(226,45,45,1) 57%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, rgba(232,46,46,1) 21%,rgba(232,46,46,1) 21%,rgba(232,46,46,1) 44%,rgba(232,46,46,1) 44%,rgba(255,211,211,1) 51%,rgba(226,45,45,1) 57%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(232,46,46,1) 21%,rgba(232,46,46,1) 21%,rgba(232,46,46,1) 44%,rgba(232,46,46,1) 44%,rgba(255,211,211,1) 51%,rgba(226,45,45,1) 57%); /* IE10+ */
  background-size: 1200% 1200%;
  -webkit-animation: ShiftingBackground 1s ease infinite;
  -moz-animation: ShiftingBackground 1s ease infinite;
  animation: ShiftingBackground 1s ease infinite;
}

#attack-slider > span:active:before, #attack-slider > span:hover:before {
  box-shadow: 0 0 10px rgba(255,255,255,.7);
}
#attack-slider > span:active:after, #attack-slider > span:hover:after {
  box-shadow: 2px 0 7px rgba(255,255,255,.55);
}
#attack-slider > span:focus {
  outline: none;
}

@-webkit-keyframes fade-in-out{
0%{display: none;}
1%{ transform: scale(1);
opacity: 0;
display: block;
}
20%{ transform: scale(.7);
opacity:1;
}
80%{ transform: scale(.7);
opacity:1;
}

99%{transform: scale(1);
opacity: 0;
display: block;
}
100%{display: none}
}

.fade-in-out {
  opacity: 0;
  -webkit-animation: fade-in-out 2s; /* Chrome, Safari, Opera */
  animation: fade-in-out 2s;
}

#canvas2D, #canvas3D {
  cursor: url(/rsc/images/cursors/pointer-green.png) 16 16, pointer;
  position: absolute;
  left: 0;
}

#canvas2D {
  z-index: 2;
}
#canvas3D {
  background-color: #000;
}
