#game-window {
  background: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight: bold;
  overflow: hidden;
}

span {
  color: #ffaa55;
}
nav {
  height: 48px;
  border-bottom: 2px solid #000;
  background-color: #0f0f0f;
}
nav > img {
  height: 40px;
  margin-top: 4px;
  margin-left: 5px;
}
nav > a {
  float: right;
  padding: 15px;
  margin-top: 2px;
}

nav a ul {
  display: none;
  position: absolute;
  text-align: left;
  padding: 0;
  z-index: 11;
}
nav a:hover ul {
  display: block;
}
nav a ul li {
  padding: 10px 10px;
  background-color: #222222;
}

nav a ul li:hover {
  background-color: #222222;
}
#panel-wheel{
	padding: 10px;
}
#panel-wheel div {
  height: 3px;
  float: left;
}

#control-panel {
  position: absolute;
  right: 0;
  width: 260px;
  background: #111;
  height: 100%;
  padding: 20px;
  z-index: 10;
  top: 50px;
}
#info {
  position: absolute;
  bottom: 90px;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  text-align: center;
  z-index: 1000;
  right: -8px;
}
#messages {
  padding: 10px;
  width: 90%;
  height: 200px;
  background: #0a0a0a;
  border-radius: 10px;
  font-family: sans, arial;
  overflow-y: scroll;
  margin: 0;
}
#messages > li {
  text-align: left;
}

#msgs-global {
  padding: 0px;
  height: 28px;
  background-color: #181818;
  color: #eee;
  margin-top: 6px;
  width: 230px;
  font-size: 16px;
  font-family: sans, arial;
}
#canvas2D, #canvas3D {
  cursor: url(/rsc/images/cursors/pointer-green.png) 16 16, pointer;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #000;
}
