html {
  font-family: Roboto;
}
h1 {
  font-family: Goudy Trajan Regular;
}
body {
  margin: 0;
}

header > h2.team.name {
  margin: 0;
  padding: 0;
  line-height: 55px;
}
/*adds icon inline with title*/
header > .team.icon {
  display: inline-block;
  float: left;
  margin: 5px 12px 5px 5px;
}
header > .team.icon.as, header > .team.icon.aap, header > .team.icon.cals, header > .team.icon.humec {
  margin: 8px 12px 0px 5px;
}
.hidden {
  display: none;
}
.icon {
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.icon.tiny {
  width: 16px;
  height: 16px;
}
.icon.small {
  width: 32px;
  height: 32px;
}
.icon.medium {
  width: 64px;
  height: 64px;
}
.icon.large {
  width: 96px;
  height: 96px;
}
.icon.huge {
  width: 128px;
  height: 128px;
}

/* shrink to fit line*/
header >.team.name.as:after,header > .team.name.humec:after {
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* overflow to next line*/
header >.team.name.aap:after,header > .team.name.cals:after {
  display: flex;
  line-height: 26px;
  padding-top: 2px;
}

header > .team.name.as:after, header > .team.name.humec:after, header > .team.name.aap:after, header > .team.name.cals:after {
  font-size: 22px;
}

.card {
  margin-bottom: 2em;
  box-shadow: 2px 5px 10px rgba(0,0,0,.3);
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  background: #fcfcfc;
  border-radius: 5px;
  margin-top: 30px;
}
.card-contents {
  padding: 30px;
}
.microtext {
  font-family: verdana;
  font-size: 11px;
}
button, .button {
    font-size: 12pt;
    background-color: #DC1B1B;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgb(113, 113, 113);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #6b2d2b;
    padding: 0.6em 1.5em;
}
button:hover, button.glow:hover, .button:hover, .button.glow:hover {
  background-color: #F50C3B;
  -webkit-animation: 0;
}
button:active, .button:active {
  position: relative;
  top: 1px;
}
@-webkit-keyframes redPulse {
  from { background-color:  #DC1B1B; }
  50% { background-color: #FF2255;  }
  to { background-color:  #DC1B1B; }
}
.button.glow {
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.button.one-col{
	width: 100%;
}


