html {
  font-family: Roboto;
}
h1 {
  font-family: Goudy Trajan Regular;
}
body {
  margin: 0;
  overflow-y: hidden;
}

header > h2.team.name {
  margin: 0;
  padding: 0;
  line-height: 55px;
}
/*adds icon inline with title*/
header > .team.icon {
  display: inline-block;
  float: left;
  margin: 5px 12px 5px 5px;
}
header > .team.icon.as, header > .team.icon.aap, header > .team.icon.cals, header > .team.icon.humec {
  margin: 8px 12px 0px 5px;
}
.hidden {
  display: none;
}
.icon {
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.icon.tiny {
  width: 16px;
  height: 16px;
}
.icon.small {
  width: 32px;
  height: 32px;
}
.icon.medium {
  width: 64px;
  height: 64px;
}
.icon.large {
  width: 96px;
  height: 96px;
}
.icon.huge {
  width: 128px;
  height: 128px;
}
.team.icon.hotel {
  background-image: url(/rsc/images/flags/128/hotel.jpg);
}
.team.icon.as {
  background-image: url(/rsc/images/flags/128/as.jpg);
}
.team.icon.aap {
  background-image: url(/rsc/images/flags/128/aap.jpg);
}
.team.icon.cals {
  background-image: url(/rsc/images/flags/128/cals.jpg);
}
.team.icon.ilr {
  background-image: url(/rsc/images/flags/128/ilr.jpg);
}
.team.icon.eng {
  background-image: url(/rsc/images/flags/128/eng.jpg);
}
.team.icon.humec {
  background-image: url(/rsc/images/flags/128/humec.jpg);
}

.team.name.hotel:after {
  content: "Hotel";
}
.team.name.as:after {
  content: "Arts & Sciences";
}
.team.name.aap:after {
  content: "Archetecture & Arts Planning";
}
.team.name.cals:after {
  content: "Agriculture & Life Sciences";
}
.team.name.eng:after {
  content: "Engineering";
}
.team.name.ilr:after {
  content: "ILR";
}
.team.name.humec:after {
  content: "Human Ecology";
}

/* shrink to fit line*/
header >.team.name.as:after,header > .team.name.humec:after {
  font-size: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* overflow to next line*/
header >.team.name.aap:after,header > .team.name.cals:after {
  display: flex;
  line-height: 26px;
  padding-top: 2px;
}

header > .team.name.as:after, header > .team.name.humec:after, header > .team.name.aap:after, header > .team.name.cals:after {
  font-size: 22px;
}

.team.colored.hotel {
  background-color: #b21c1d;
}
.team.colored.as {
  background-color: #f1592a;
}
.team.colored.aap {
  background-color: #ffc010;
}
.team.colored.cals {
  background-color: #00b050;
}
.team.colored.ilr {
  background-color: #0184ba;
}
.team.colored.eng {
  background-color: #474187;
}
.team.colored.humec {
  background-color: #b03c83;
}

.team.text-colored.hotel {
  background-color: #7e0a0b;
}
.team.text-colored.as {
  background-color: #d73520;
}
.team.text-colored.aap {
  background-color: #f5a11a;
}
.team.text-colored.cals {
  background-color: #3cb04b;
}
.team.text-colored.ilr {
  background-color: #3cb04b;
}
.team.text-colored.eng {
  background-color: #43346d;
}
.team.text-colored.humec {
  background-color: #bb0677;
}
.card {
  margin-bottom: 2em;
  box-shadow: 2px 5px 10px rgba(0,0,0,.3);
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  background: #fcfcfc;
  border-radius: 5px;
  margin-top: 30px;
}
.card-contents {
  padding: 30px;
}
.microtext {
  font-family: verdana;
  font-size: 11px;
}
.button {
    font-size: 12pt;
    background-color: #DC1B1B;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgb(113, 113, 113);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #6b2d2b;
    padding: 0.6em 1.5em;
}
.button:hover {
    background-color: #F50C3B;
}
.button:active {
  position: relative;
  top: 1px;
}
.button.one-col{
	width: 100%;
}
