.pane {
  min-height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  color: #54381E;
  background-image: url(http://turbo.designwoop.com/uploads/2012/10/subtle_background_textures_12.jpg);
}
.input-field {
    width: 70%;
    height: 2em;
    font-family: Roboto;
}
.label {
    float: left;
    font-size: 16pt;
    line-height: 2em;
}
input[type=text], select {
    font-family: Roboto;
    font-weight: 500;
    float: right;
    width: 20em;
    margin: 0;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
form {
margin-top: 5em;
}
h1 {
  margin: 0;
  font-family: Goudy Trajan Regular;
  color: black;
  width: 50%;
  min-width: 400px;
  float: left;
}
.card {
}
.card-contents h1 {
  border-bottom: 2px solid black;
}

form > div {
  margin-top: 20px;
}

input[type=text], input[type=select], select, input[type=search] {
  -webkit-appearance: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  background: #fff;
  border: 2px solid #cbd2d6;
  border: 2px solid rgba(0,39,59,.2);
  padding: 5px 9px;
  margin: 0;
  border-radius: 4px;
  min-width: 12em;
  font-size: 13px;
  height: 32px;
  font-size: 18px;
  font-family: Goudy Trajan Regular;
}
select {
}

.checkbox > input[type=checkbox] {
  visibility: hidden;
}

.checkbox {
  width: 20px;
  margin: 0 20px;
  position: relative;
  display: inline-block;
}

.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.checkbox label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.checkbox input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#team-list {
  margin: 10px 0 10px 0;
  height: 120px;
}
#lobby-table {
  text-align: left;
  width: 50%;
  color: white;
  margin: 20px;
}
#lobby-pane tr {
  border-radius: 5px;
}

#lobby-pane td:nth-child(1) {
  border-radius: 50% 0 0 50%;
}

#lobby-pane td:nth-child(3) {
  text-align: right;
}
#lobby-pane td:nth-child(4) {
  border-radius: 0 50% 50% 0;
}
#lobby-table td {
  padding: 5px;
}

#current-selection {
  line-height: 30px;
  padding: 10px;
  min-height: 30px;
}

.faded-text {
  color: rgba(255,255,255,.6);
}
.team-li {
  text-align: center;
}
.team-li > .icon {
  border-radius: 50% 0 0 50%;
  background-position: center;
  padding: 4px;
  width: 22px;
  height: 22px;
}
.team-li > .name {
  padding: 0 20px 0 20px;
}
.team-li > .team.name::after {
  display: block;
}
.team-li > .endpiece {
  width: 30px;
  border-radius: 0 50% 50% 0;
}

td:first-child {
  text-align: left;
}
ul {
  list-style: none;
  display: block;
  text-align: center;
}
ul.margin{
	margin: 10px 0 60px 0;
}

#open-games {
  width: 100%;
  text-align: left;
  padding: 30px;
  font-size: 13pt;
}

#open-games tr {
  height: 35px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
#open-games td:nth-child(3), #open-games td:nth-child(4), #open-games td:nth-child(5), #open-games th:nth-child(3), #open-games th:nth-child(4), #open-games th:nth-child(5) {
  text-align: center;
}

#open-games tr:first-child {
  border-bottom: 1px solid #aaa;
  height: 20px;
  padding-bottom: 0;
}
#open-games tr:not(:first-child):hover {
  background-color: rgb(239, 250, 255);
  /*background-color: #cceeff;*/
  /*background-color: rgb(253, 247, 218);*/
  cursor: pointer;
}
#open-games th:hover {
  background-color: none;
}
.card-header {
  display: inline-block;
  width: 100%;
  padding-bottom: 2em;
}
.button.right {
  float: right;
}
.button-set.right{
	text-align : right;
}
/* HIDE RADIO BUTTON*/
label > input {
  display: none;
}

/* IMAGE STYLES */
label > input + img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0.4;
  float: left;
  margin-top: 15px;
  transition: .3s;
}

/* (CHECKED) IMAGE STYLES */
label > input:checked + img {
  border: 2px solid #cc8;
  opacity: 1;
  margin-top: 0;
  transition: .3s;
}

/* (HOVER) IMAGE STYLES */
label > input + img:hover {
  opacity: 0.9;
}
