#signin-pane {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  color: #54381E;
  background-image: url(http://turbo.designwoop.com/uploads/2012/10/subtle_background_textures_12.jpg);
}

h1 {
  margin: 0;
  border-bottom: 2px solid black;
  font-family: Goudy Trajan Regular;
}

form > div {
  margin: 20px 0;
}

input {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-appearance: none;
  background: #fff;
  border: 2px solid #cbd2d6;
  border: 2px solid rgba(0,39,59,.2);
  padding: 5px 9px;
  margin: 0;
  border-radius: 4px;
  width: 45%;
  font-size: 13px;
  height: 32px;
  font-size: 18px;
  font-family: Goudy Trajan Regular;
}
ul {
  list-style: none;
  display: block;
  text-align: center;
  margin: 10px 0 60px 0;
}

/* HIDE RADIO BUTTON*/
label > input {
  display: none;
}

/* IMAGE STYLES */
label > input + img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0.4;
  float: left;
  margin-top: 15px;
  transition: .3s;
}

/* (CHECKED) IMAGE STYLES */
label > input:checked + img {
  border: 2px solid #cc8;
  opacity: 1;
  margin-top: 0;
  transition: .3s;
}

/* (HOVER) IMAGE STYLES */
label > input + img:hover {
  opacity: 0.9;
}

#join-button {
  float: right;
  margin-top: 20px;
}
