.cm-s-default span {color: #ccc;}
.cm-s-default span.cm-keyword {color: #52E3F6;}
.cm-s-default span.cm-atom {color: #C48CFF;}
.cm-s-default span.cm-number {color: #C48CFF;}
.cm-s-default span.cm-def {color: #03d7cb;}
.cm-s-default span.cm-variable {color: #eee;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #0a5;}
.cm-s-default span.cm-property {color: #79ABFF;}
.cm-s-default span.cm-operator {color: #FF007F;}
.cm-s-default span.cm-comment {color: #888;}
.cm-s-default span.cm-string {color: #ECE47E;}
.cm-s-default span.cm-string-2 {color: #ECE47E;}
.cm-s-default span.cm-meta {color: #eee;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #eee;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #00c;}