* {
	margin: 0;
	padding: 0;
}
body {
	font: 14px "Helvetica", Sans-Serif;
	color: #bbb;
	background-color: #111
}
h2 {
	color: #0077ff;
	font: 30px Helvetica, Sans-Serif;
	margin: 0 0 10px 0;
}

a:link { color: #aac; text-decoration: none}
a:hover {text-decoration: underline; color: #88a;}
a:visited {color: #8af}

#page-wrap {
	width: 500px;
	margin: 30px auto;
	position: relative;
}

#chat-wrap {

	border: 1px solid #445; 
	margin: 0 0 15px 0;
}
#chat-area {
	height: 200px;
	background-color: #181818;
	overflow: auto;
	border: 1px solid #345;
	padding: 20px;

}
span {
	font: 12px "Helvetica", Sans-Serif;
	color: #ccc;	
	font-weight:bold;
	background: #7400bd;
	padding: 4px 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 8px;
	margin: 0 5px 0 0;
}

#chat-area span.Bryce {
	color: #fff;
	background:#3ca900; /*#3ca900;*/
}

#chat-area span.bryce {
	color: #f00;
	background: #3ca900;
}

#chat-area span.Qiming {
	color: #ccc;
	background: #069;
}

#chat-area span.qiming {
	color: #ccc;
	background: #069;
}

#chat-area span.cliff {
	color: #ccc;
	background: #a00;
}

#chat-area p {
	padding: 3px;
	border-bottom: 1px solid #222; 
	border-top: 0px solid #222; }

#name-area {
	position: absolute;
	top: 12px;
	right: 0;
	color: white;
	font: bold 12px "Helvetica", Sans-Serif;
	text-align: right;
}
#name-area span {
	color: #fa9f00;
}

#send-message-area p {
	float: left;
	color: white;
	padding-top: 27px;
	font-size: 14px;
}
#composer {
	color: #ccc;
	background-color: #181818;
	border: 2px #0091a6; 
	width: 300px;
	padding: 10px;
	font: 14px "Helvetica", Sans-Serif;
	float: right;
 resize: none;
}
#composer:focus { border: 10px #66dff1; }
